* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}
*::-webkit-scrollbar {
  width: 6px !important;
  height: 8px !important;
}

*::-webkit-scrollbar-track {
  background-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #56565656 !important;
  border-radius: 30px !important;
}

.ql-toolbar,
.ql-container {
  border-color: #565656 !important;
}
.ql-toolbar {
  border-radius: 8px 8px 0 0 !important;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.ql-container {
  min-height: 160px;
  border-radius: 0 0 8px 8px !important;
}
.ql-formats {
  background-color: #56565622;
  padding: 2px 8px;
  border-radius: 4px;
}
.ql-editor.ql-blank::before {
  color: #ffffff77;
}
